*.iml
.fleet/
.kotlin/
.gradle
**/build/
xcuserdata
!src/**/build/
local.properties
.idea
.DS_Store
captures
**/Cargo.lock
.externalNativeBuild
.cxx
**/yarn.lock
**/*.podspec
**/*.lock
composeApp/framework/
iosApp/Pods/
iosApp/iosApp.xcworkspace/


**/*.xcodeproj/*
**/*.xcodeproj/project.xcworkspace/

!**/*.xcodeproj/project.pbxproj
!**/*.xcodeproj/xcshareddata/
**/*.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme

!**/*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
